@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif; }

body {
  overflow-x: hidden; }

a {
  text-decoration: none; }

.clearfix::after {
  content: "";
  clear: both;
  display: table; }

.button {
  margin-top: 40px; }
  .button a {
    display: inline-block;
    font-size: 1em;
    background-color: #f05a28 !important;
    padding: 10px 30px;
    color: #fffefe;
    margin-top: 10px;
    text-transform: uppercase;
    letter-spacing: 2px;
    -webkit-transition: 0.2s;
    transition: 0.2s;
    border-radius: 5px; }
    .button a:hover {
      letter-spacing: 6px; }

.showcase {
  width: 100%;
  min-height: 100vh;
  padding: 0 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #111;
  color: #ffff;
  z-index: 2; }
  .showcase header {
    position: absolute;
    top: 0;
    left: 10%;
    right: 10%;
    width: 80%;
    padding: 10px 10px;
    margin: 0 auto;
    z-index: 1000;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: white; }
    .showcase header .logo {
      width: 150px;
      height: 60px; }
    .showcase header .toggle {
      display: none;
      position: relative;
      width: 60px;
      height: 60px;
      background: url("../img/icons8-menu-24.png");
      background-repeat: no-repeat;
      background-size: 30px;
      background-position: center;
      cursor: pointer; }
    .showcase header .toggle.active {
      background: url("../img/icons8-delete-24.png");
      background-repeat: no-repeat;
      background-size: 25px;
      background-position: center;
      cursor: pointer; }
    .showcase header .menu-wrapper img {
      width: 150px;
      height: 60px; }
    .showcase header .menu-wrapper nav ul {
      position: absolute;
      top: 30px;
      left: 170px; }
      .showcase header .menu-wrapper nav ul li {
        display: inline-block;
        position: relative;
        list-style: none; }
        .showcase header .menu-wrapper nav ul li.active .item-link {
          background: #f1efefd3; }
        .showcase header .menu-wrapper nav ul li.active .item-link::before {
          color: #f05a28;
          width: 82%; }
        .showcase header .menu-wrapper nav ul li a {
          text-decoration: none;
          margin: 0 10px;
          color: black;
          font-weight: 700;
          padding: 33px 10px; }
          .showcase header .menu-wrapper nav ul li a:hover {
            color: black; }
          .showcase header .menu-wrapper nav ul li a:hover::before {
            width: 82%; }
          .showcase header .menu-wrapper nav ul li a:before {
            content: "";
            display: block;
            height: 5px;
            width: 0%;
            bottom: -32px;
            background-color: #f05a28;
            position: absolute;
            -webkit-transition: all ease-in-out 250ms;
            transition: all ease-in-out 250ms;
            margin: 0 0 0 9%; }
    .showcase header .login-wrapper ul {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      padding: 0 30px; }
      .showcase header .login-wrapper ul li {
        position: relative;
        list-style: none; }
        .showcase header .login-wrapper ul li.active .item-link {
          background: #f1efefd3; }
        .showcase header .login-wrapper ul li.active .item-link::before {
          color: #f05a28;
          width: 82%; }
        .showcase header .login-wrapper ul li a {
          text-decoration: none;
          margin: 0 9px;
          color: black;
          font-weight: 700;
          padding: 32px 15px; }
          .showcase header .login-wrapper ul li a:hover {
            color: black;
            background-color: #f1f1f1; }
          .showcase header .login-wrapper ul li a:hover::before {
            width: 82%; }
          .showcase header .login-wrapper ul li a:before {
            content: "";
            display: block;
            height: 5px;
            width: 0%;
            bottom: -32px;
            background-color: #f05a28;
            position: absolute;
            -webkit-transition: all ease-in-out 250ms;
            transition: all ease-in-out 250ms;
            margin: 0 0 0 9%; }
      .showcase header .login-wrapper ul .lang a {
        color: #f05a28; }
  .showcase video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    opacity: 0.8; }
  .showcase .overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    background: #03a8f4d8;
    mix-blend-mode: overlay; }
  .showcase .text {
    z-index: 10; }
    .showcase .text h2 {
      font-size: 6em;
      text-transform: capitalize;
      font-weight: 600;
      line-height: 1.3em;
      margin-top: 50px;
      text-shadow: 2px 2px 10px rgba(49, 48, 48, 0.63); }
    .showcase .text p {
      font-size: 1.2em;
      margin: 20px 0;
      font-weight: 400;
      max-width: 450px;
      text-shadow: 2px 2px 10px rgba(49, 48, 48, 0.63); }
    .showcase .text .button a:last-of-type {
      margin-left: 10px;
      background-color: rgba(255, 255, 255, 0) !important;
      border: 1px solid white;
      color: white; }
  .showcase .social {
    position: absolute;
    bottom: 20px;
    z-index: 10;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .showcase .social li {
      list-style: none; }
      .showcase .social li a {
        display: inline-block;
        -webkit-filter: invert(1);
                filter: invert(1);
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        -webkit-transition: 0.5s;
        transition: 0.5s; }
        .showcase .social li a:hover {
          -webkit-transform: scale(0.5) translateY(-25px);
                  transform: scale(0.5) translateY(-25px); }
        .showcase .social li a img {
          width: 60px; }
  .showcase .right-text {
    z-index: 10;
    max-width: 400px;
    text-shadow: 2px 2px 10px rgba(49, 48, 48, 0.63); }
  .showcase .right-text {
    position: absolute;
    bottom: 150px;
    right: 420px; }
    .showcase .right-text .text-normal {
      position: relative; }
      .showcase .right-text .text-normal .symbol {
        z-index: -1;
        font-size: 255px;
        position: absolute;
        top: -150px;
        left: -100px;
        color: #ffffff54; }
      .showcase .right-text .text-normal h4 {
        position: absolute;
        top: 5px;
        font-size: 1.2rem;
        text-shadow: 2px 2px 10px rgba(49, 48, 48, 0.63); }
      .showcase .right-text .text-normal p {
        text-shadow: 2px 2px 10px rgba(49, 48, 48, 0.63);
        padding: 35px 0; }
    .showcase .right-text .text-vertical {
      -webkit-transform-origin: 0 0;
              transform-origin: 0 0;
      transform: rotate(-90deg);
      color: white;
      position: absolute;
      left: 430px;
      top: 110px;
      width: 100%;
      /* Safari */
      -webkit-transform: rotate(-90deg);
      /* Firefox */
      -moz-transform: rotate(-90deg);
      /* IE */
      -ms-transform: rotate(-90deg);
      /* Opera */
      -o-transform: rotate(-90deg); }
      .showcase .right-text .text-vertical img {
        width: 50px;
        height: 50px;
        -webkit-transform-origin: 0px 160px;
                transform-origin: 0px 160px;
        -webkit-transform: rotate(90deg);
                transform: rotate(90deg);
        position: absolute;
        top: -170px;
        left: 10px; }
      .showcase .right-text .text-vertical p {
        font-weight: 200; }
      .showcase .right-text .text-vertical .name {
        font-weight: 500; }

.destinations {
  height: 700px;
  background-color: #f7f7f7;
  z-index: 0;
  padding: 120px 0px 200px 10%; }
  @media (max-width: 1024px) {
    .destinations {
      padding: 90px 0px 0px 4%; } }
  .destinations .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    .destinations .wrapper .text-destination {
      padding-top: 4%; }
      @media (max-width: 1024px) {
        .destinations .wrapper .text-destination {
          padding-top: 2%;
          padding-right: 10%; } }
      .destinations .wrapper .text-destination h2 {
        font-size: 6em;
        color: #66656510; }
        @media (max-width: 1024px) {
          .destinations .wrapper .text-destination h2 {
            width: 450px;
            font-size: 5em; } }
      .destinations .wrapper .text-destination h3 {
        font-size: 2em;
        margin-top: -67px;
        color: #575756de; }
        @media (max-width: 1024px) {
          .destinations .wrapper .text-destination h3 {
            font-size: 1.5em;
            margin-top: -58px; } }
      .destinations .wrapper .text-destination p {
        padding-top: 40px;
        max-width: 600px; }
        @media (max-width: 1024px) {
          .destinations .wrapper .text-destination p {
            width: 450px; } }
    .destinations .wrapper .slider-destination {
      margin-left: 120px; }
      @media (max-width: 1024px) {
        .destinations .wrapper .slider-destination {
          margin-left: 30px; } }

.summer-tours {
  height: 1000px;
  width: 100%;
  background-color: #7cc9c2; }
  @media (max-width: 1024px) {
    .summer-tours {
      height: 800px; } }
  .summer-tours h2 {
    color: white;
    font-size: 2.5em;
    font-weight: 500;
    padding: 3% 0px;
    text-align: center;
    letter-spacing: 2px; }
    @media (max-width: 1024px) {
      .summer-tours h2 {
        font-size: 2em;
        letter-spacing: 1px; } }
  .summer-tours .toures {
    position: absolute;
    width: 100%;
    height: 250px; }
    .summer-tours .toures .toure {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      width: 47%;
      min-width: 900px;
      padding: 0px 10px;
      background-color: white;
      margin-top: 2%;
      margin-left: 12%;
      border-radius: 8px;
      position: relative;
      z-index: 20;
      -webkit-transition: 0.7s;
      transition: 0.7s; }
      @media (max-width: 1024px) {
        .summer-tours .toures .toure {
          width: 47%;
          min-width: 800px;
          margin-left: 10%; } }
      .summer-tours .toures .toure:hover {
        padding: 20px;
        width: 52%;
        border-radius: 50px;
        -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459); }
        @media (max-width: 1024px) {
          .summer-tours .toures .toure:hover {
            padding-left: 0px; } }
        .summer-tours .toures .toure:hover .price {
          border-left: 10px dotted #56565741; }
          .summer-tours .toures .toure:hover .price a {
            visibility: visible; }
      .summer-tours .toures .toure img {
        height: 120px;
        width: 140px;
        padding: 2% 2%; }
        @media (max-width: 1024px) {
          .summer-tours .toures .toure img {
            height: 90px;
            width: 100px;
            margin-top: 20px; } }
      .summer-tours .toures .toure .text-wrapper {
        margin-top: 30px;
        padding-left: 5px;
        color: #565657; }
        @media (max-width: 1024px) {
          .summer-tours .toures .toure .text-wrapper {
            margin-top: 20px; } }
        .summer-tours .toures .toure .text-wrapper h3 {
          font-size: 1.3em;
          padding-bottom: 9px; }
          @media (max-width: 1024px) {
            .summer-tours .toures .toure .text-wrapper h3 {
              font-size: 1em; } }
        .summer-tours .toures .toure .text-wrapper p {
          font-size: 1em; }
          @media (max-width: 1024px) {
            .summer-tours .toures .toure .text-wrapper p {
              font-size: 0.9em; } }
      .summer-tours .toures .toure .price {
        padding: 20px 50px;
        margin-left: 100px;
        text-align: center;
        color: #f7b74f;
        font-weight: 700;
        font-size: 1.4em;
        border-left: 10px dotted #56565741;
        letter-spacing: 1px; }
        @media (max-width: 1024px) {
          .summer-tours .toures .toure .price {
            font-size: 1.3em; } }
        .summer-tours .toures .toure .price a {
          visibility: hidden;
          display: inline-block;
          margin-top: 10px;
          padding: 2px 17px;
          border-radius: 5px;
          color: white;
          background-color: #87c5ec;
          font-weight: 600; }
  .summer-tours .imgSummer {
    position: absolute;
    width: 900px;
    top: 0px;
    right: 0px;
    z-index: 10; }

.traveling-services {
  height: 900px; }
  @media (max-width: 1024px) {
    .traveling-services {
      height: 1350px; } }
  .traveling-services h2 {
    text-align: center;
    margin-top: 150px;
    font-size: 2.5em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 2px; }
    @media (max-width: 1024px) {
      .traveling-services h2 {
        margin-top: 50px;
        font-size: 2em; } }
  .traveling-services .services-wrapper {
    padding: 2% 2%;
    height: 515px;
    width: 70%;
    margin: 130px 15% 0px 15%;
    background-color: #f7b64e;
    border-radius: 10px;
    -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
            box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459); }
    @media (max-width: 1024px) {
      .traveling-services .services-wrapper {
        height: 1200px;
        margin: 50px 15% 0px 15%;
        -webkit-box-shadow: none;
                box-shadow: none; } }
    @media (max-width: 1440px) {
      .traveling-services .services-wrapper {
        height: 600px; } }
    .traveling-services .services-wrapper .services-holder {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      @media (max-width: 1024px) {
        .traveling-services .services-wrapper .services-holder {
          display: block; } }
      .traveling-services .services-wrapper .services-holder .services-text {
        max-width: 40%;
        color: white; }
        @media (max-width: 1024px) {
          .traveling-services .services-wrapper .services-holder .services-text {
            max-width: 100%;
            text-align: center; } }
        .traveling-services .services-wrapper .services-holder .services-text h3 {
          font-size: 2em;
          font-weight: 500;
          margin-bottom: 10%;
          text-transform: capitalize; }
          @media (max-width: 1024px) {
            .traveling-services .services-wrapper .services-holder .services-text h3 {
              margin-bottom: 5%;
              font-size: 1.4em; } }
        .traveling-services .services-wrapper .services-holder .services-text h4 {
          margin-bottom: 5%;
          letter-spacing: 1px;
          font-weight: 600; }
          @media (max-width: 1024px) {
            .traveling-services .services-wrapper .services-holder .services-text h4 {
              margin-bottom: 3%; } }
        .traveling-services .services-wrapper .services-holder .services-text p {
          font-weight: 300;
          font-size: 1.1em; }
        .traveling-services .services-wrapper .services-holder .services-text a {
          display: inline-block;
          margin-top: 20%;
          color: white;
          padding: 10px 20px;
          border-radius: 5px;
          background-color: #f05a28;
          -webkit-transition: 0.4s;
          transition: 0.4s; }
          .traveling-services .services-wrapper .services-holder .services-text a:hover {
            background-color: #e93d03;
            letter-spacing: 3px; }
          @media (max-width: 1024px) {
            .traveling-services .services-wrapper .services-holder .services-text a {
              margin-top: 10%; } }
      .traveling-services .services-wrapper .services-holder .popular-places {
        position: relative;
        width: 45%;
        padding-bottom: 20px;
        border-radius: 10px;
        background-image: -webkit-gradient(linear, left top, left bottom, from(#f1f5f7), to(#faf6f6));
        background-image: linear-gradient(to bottom, #f1f5f7, #faf6f6);
        top: -110px;
        right: -10%;
        -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
                box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459); }
        @media (max-width: 1024px) {
          .traveling-services .services-wrapper .services-holder .popular-places {
            width: 110%;
            padding-top: 10px;
            top: 60px;
            right: 30px;
            -webkit-box-shadow: none;
                    box-shadow: none; } }
        @media (max-width: 1440px) {
          .traveling-services .services-wrapper .services-holder .popular-places {
            top: -40px;
            right: -100px; } }
        .traveling-services .services-wrapper .services-holder .popular-places h3 {
          font-size: 25px;
          text-align: center;
          margin-top: 30px; }
        .traveling-services .services-wrapper .services-holder .popular-places .accordion {
          background-image: url("/img/turkey.jpg");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center;
          color: #fffefe;
          cursor: pointer;
          padding: 25px 30px;
          width: 90%;
          border: none;
          text-align: right;
          outline: none;
          font-size: 22px;
          font-weight: 500;
          letter-spacing: 2px;
          text-shadow: 2px 2px 10px rgba(41, 40, 40, 0.63);
          -webkit-transition: 0.4s;
          transition: 0.4s;
          margin: 3% 5%;
          border-radius: 5px;
          -webkit-transition: 0.7s;
          transition: 0.7s;
          -webkit-box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459);
                  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.459); }
          @media (max-width: 1024px) {
            .traveling-services .services-wrapper .services-holder .popular-places .accordion {
              width: 70%;
              margin: 3% 15%; } }
        .traveling-services .services-wrapper .services-holder .popular-places .aRussia {
          background-image: url("/img/russia.jfif");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        .traveling-services .services-wrapper .services-holder .popular-places .aBrazil {
          background-image: url("/img/brazil.jfif");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        .traveling-services .services-wrapper .services-holder .popular-places .aChina {
          background-image: url("/img/china.jfif");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center; }
        .traveling-services .services-wrapper .services-holder .popular-places .aThailand {
          background-image: url("/img/thailand.jfif");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: bottom; }
        .traveling-services .services-wrapper .services-holder .popular-places .active, .traveling-services .services-wrapper .services-holder .popular-places .accordion:hover {
          padding: 50px 50px; }
        .traveling-services .services-wrapper .services-holder .popular-places .accordion:after {
          content: '\002B';
          -webkit-transform: scale(1.2);
                  transform: scale(1.2);
          color: #f8f7f7;
          font-weight: bold;
          float: right;
          margin-left: 5px;
          padding-left: 20px; }
        .traveling-services .services-wrapper .services-holder .popular-places .active:after {
          content: "\2212"; }
        .traveling-services .services-wrapper .services-holder .popular-places .panel {
          padding: 0 28px;
          background-color: #f1f1f1;
          font-size: 13px;
          max-height: 0;
          overflow: hidden;
          -webkit-transition: max-height 0.2s ease-out;
          transition: max-height 0.2s ease-out; }

.aboutus {
  height: 700px;
  margin: 2% 15%;
  width: 100%;
  max-width: 80%; }
  @media (max-width: 1024px) {
    .aboutus {
      margin: 3%;
      max-width: 97%; } }
  .aboutus .about-wrapper {
    width: 85%;
    letter-spacing: 0.5px;
    font-size: 1.1rem; }
    @media (max-width: 1024px) {
      .aboutus .about-wrapper {
        width: 95%;
        font-size: 1em; } }
    .aboutus .about-wrapper h2, .aboutus .about-wrapper h3 {
      font-size: 2rem;
      font-weight: 500;
      margin-bottom: 40px; }
      @media (max-width: 1024px) {
        .aboutus .about-wrapper h2, .aboutus .about-wrapper h3 {
          font-size: 1.7em;
          margin-bottom: 20px; } }
    .aboutus .about-wrapper p {
      margin-bottom: 20px; }
    .aboutus .about-wrapper ul {
      padding: 20px 20px; }
      .aboutus .about-wrapper ul li {
        padding-bottom: 10px; }

.contact {
  height: 100vh;
  width: 100%;
  background-color: #f7f7f7;
  padding-top: 4%; }
  .contact h2 {
    text-align: center;
    font-size: 2.2rem;
    color: #4b4b4a;
    padding-top: 1%; }
  .contact .contact-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin-top: 2%; }
    .contact .contact-wrapper img {
      padding-left: 5%;
      width: 50%;
      height: 500px; }
      @media (max-width: 1024px) {
        .contact .contact-wrapper img {
          display: none; } }
    .contact .contact-wrapper .forma-holder {
      display: inline-block;
      margin: 0% 3%; }
      @media (max-width: 1024px) {
        .contact .contact-wrapper .forma-holder form {
          margin: 0px 150px; } }
      .contact .contact-wrapper .forma-holder form label {
        display: inline-block;
        padding: 30px 10px 10px 5px;
        font-size: 17px;
        font-weight: 600;
        color: #575756; }
      .contact .contact-wrapper .forma-holder form input {
        height: 55px;
        width: 150%;
        padding: 20px;
        border-radius: 5px;
        border: 1px solid #4747476e;
        font-size: 17px;
        background-color: #f7f7f7; }
        .contact .contact-wrapper .forma-holder form input:hover {
          border: 2px solid #f05a28; }
      .contact .contact-wrapper .forma-holder form textarea {
        height: 140px;
        width: 150%;
        padding: 15px;
        border-radius: 5px;
        border: 1px solid #47474767;
        font-size: 17px;
        background-color: #f7f7f7; }
        .contact .contact-wrapper .forma-holder form textarea:hover {
          border: 2px solid #f05a28; }
      .contact .contact-wrapper .forma-holder form .checkbox-input {
        position: absolute;
        width: 15px;
        padding: 15px; }
      .contact .contact-wrapper .forma-holder form p {
        padding: 15px 30px;
        color: #575756; }
        .contact .contact-wrapper .forma-holder form p a {
          font-weight: 600;
          color: #f05a28; }
          .contact .contact-wrapper .forma-holder form p a:hover {
            text-decoration: underline; }
      .contact .contact-wrapper .forma-holder form button {
        margin-top: 20px;
        padding: 10px 50px;
        border-radius: 7px;
        border: 1px solid #f05a28;
        background-color: #f05a28;
        color: white;
        font-size: 16px;
        letter-spacing: 1px;
        -webkit-transition: 0.5s;
        transition: 0.5s; }
        .contact .contact-wrapper .forma-holder form button:hover {
          font-size: 17px;
          background-color: #df3800;
          letter-spacing: 3px; }

footer {
  height: 45vh;
  width: 100%;
  background-color: #318c8c;
  padding: 5% 10%; }
  @media (max-width: 1024px) {
    footer {
      display: none; } }
  footer .footer-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    footer .footer-wrapper .company-info {
      min-width: 310px; }
      footer .footer-wrapper .company-info img {
        width: 140px;
        margin-bottom: 20px; }
      footer .footer-wrapper .company-info p {
        margin-bottom: 20px;
        color: #c5c1c1; }
    footer .footer-wrapper .footer-links {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-left: 15%; }
      footer .footer-wrapper .footer-links .row {
        max-width: 35%;
        margin-right: 5%; }
        footer .footer-wrapper .footer-links .row h3 {
          color: rgba(255, 255, 255, 0.897); }
        footer .footer-wrapper .footer-links .row ul {
          margin-top: 50px; }
          footer .footer-wrapper .footer-links .row ul li {
            margin-bottom: 20px;
            list-style: none;
            width: 230px; }
            footer .footer-wrapper .footer-links .row ul li a {
              color: #c5c1c1; }
              footer .footer-wrapper .footer-links .row ul li a:hover {
                text-decoration: underline; }

.bottom-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  background-color: #2f797a;
  padding: 20px;
  height: 70px; }
  @media (max-width: 1024px) {
    .bottom-footer {
      -webkit-box-pack: justify;
          -ms-flex-pack: justify;
              justify-content: space-between; } }
  .bottom-footer p {
    color: #c5c1c1;
    letter-spacing: 1px; }
    @media (max-width: 1024px) {
      .bottom-footer p {
        letter-spacing: 0px; } }
  .bottom-footer .social {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
    .bottom-footer .social li {
      list-style: none; }
      .bottom-footer .social li a {
        display: inline-block;
        -webkit-filter: invert(1);
                filter: invert(1);
        -webkit-transform: scale(0.5);
                transform: scale(0.5);
        -webkit-transition: 0.5s;
        transition: 0.5s; }
        .bottom-footer .social li a:hover {
          -webkit-transform: scale(0.5) translateY(-25px);
                  transform: scale(0.5) translateY(-25px); }
        .bottom-footer .social li a img {
          width: 60px; }

/* Slideshow container */
.slideshow-container {
  width: 100%;
  position: relative;
  margin: auto;
  /* Hide the images by default */
  /* Next & previous buttons */
  /* Position the "next button" to the right */
  /* On hover, add a black background color with a little bit see-through */
  /* Fading animation */ }
  .slideshow-container .mySlides {
    display: none; }
    .slideshow-container .mySlides .img-container {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex; }
      .slideshow-container .mySlides .img-container .img-wrapper {
        position: relative;
        /* Caption text */ }
        .slideshow-container .mySlides .img-container .img-wrapper img {
          border-radius: 2%;
          width: 310px;
          height: 480px;
          margin-left: 15px; }
        .slideshow-container .mySlides .img-container .img-wrapper .text1 {
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          text-shadow: 2px 2px 10px black;
          padding: 8px 12px;
          position: absolute;
          left: 20px;
          bottom: 20px;
          width: 100%;
          z-index: 10; }
        .slideshow-container .mySlides .img-container .img-wrapper .text2 {
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          text-shadow: 2px 2px 10px black;
          padding: 8px 12px;
          position: absolute;
          bottom: 20px;
          right: 110px;
          width: 190px;
          text-align: center;
          z-index: 10; }
        .slideshow-container .mySlides .img-container .img-wrapper .text3 {
          color: #ffffff;
          font-size: 20px;
          font-weight: 600;
          text-shadow: 2px 2px 10px black;
          padding: 8px 12px;
          position: absolute;
          right: 130px;
          bottom: 20px;
          width: 175px;
          text-align: center;
          z-index: 10; }
  .slideshow-container .prev, .slideshow-container .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-left: 15px;
    margin-top: -42px;
    padding: 15px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    -webkit-transition: 0.6s ease;
    transition: 0.6s ease;
    border-radius: 0 10px 10px 0;
    text-shadow: 2px 2px 10px black;
    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none; }
  .slideshow-container .next {
    right: 0px;
    border-radius: 10px 0 0 10px;
    text-shadow: 2px 2px 10px black; }
  .slideshow-container .prev:hover, .slideshow-container .next:hover {
    background-color: rgba(0, 0, 0, 0.8); }
  .slideshow-container .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s; }

@-webkit-keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }

@keyframes fade {
  from {
    opacity: .4; }
  to {
    opacity: 1; } }
