// Breakpoints
$xl: 1440px;
$lg: 1024px;
$md: 768px;
$sm: 575px;

//colors

$white: #ffff;
$black: #111;
$primary-color: #f05a28;
$primary-hover-c: #df3800;
$white-fade:#f1efefd3;
$overlay-color: #03a8f4d8;
$symbol-color: #ffffff3a;
$h2-color: #4b4b4a;
$contact-bg-color: #f7f7f7;
$label-txt-c: #575756;
$input-border-c:#4747476e;
$input-bg-c: #f7f7f7;
$footer-bg-c: #318c8c;
$footer-txt-c: #c5c1c1;
$footer-bott-bg-c: #2f797a;
$summer-tour-bg: #7cc9c2;
$price-txt-c:#f7b74f;
$price-btn-bg: #87c5ec;
$service-bg-c: #f7b64e;