.aboutus{
    height: 700px;
    // padding: 5% 15%;
    margin: 2% 15%;
    width: 100%;
    max-width: 80%;
    @media (max-width:$lg) {
        margin: 3%;
        max-width: 100%;
    }
    .about-wrapper{
        width: 85%;
        @media (max-width:$lg) {
            width: 95%;
            font-size: 1em;
        }
        letter-spacing: 0.5px;
        font-size: 1.1rem;
        h2,h3{
            font-size: 2rem;
            font-weight: 500;
            margin-bottom: 40px;
            @media (max-width:$lg) {
                font-size: 1.7em;
                margin-bottom: 20px;
            }
        }
        p{
            margin-bottom: 20px;
        }
        ul{
            padding: 20px 20px;
            li{
                padding-bottom: 10px;
            }
        }
    }
}