.destinations{
    height: 700px;
    background-color: #f7f7f7;
    // background-color: white;
    z-index: 0;
    padding: 120px 0px 200px 10%;
    @media (max-width:$xl) {
        padding: 90px 0px 0px 4%;
    }
    @media (max-width:$lg) {
        padding: 90px 0px 0px 4%;
    }
    @media (max-width:$md) {
        height:550px;
    }
    .wrapper{
        display: flex;
        
        .text-destination{
            padding-top: 4%;
            @media (max-width:$xl) {
                padding-top: 0;
                padding-right: 10%;
            }
            @media (max-width:$lg) {
                padding-top: 2%;
                padding-right: 10%;
            }
            @media (max-width:$md) {
                padding-top: 0%;
            }
            h2{
                color: #66656510;
                font-size: 6em;
                @media (max-width:$lg) {
                    width: 450px;
                    font-size: 5em;
                }
                @media (max-width:$md) {
                    font-size: 4.5-em;
                }
            }
            h3{
                font-size: 2em;
                margin-top: -67px;
                color: #575756de;
                @media (max-width:$xl) {
                    font-size: 1.6em;
                    margin-top: -58px;
                }
                @media (max-width:$lg) {
                    font-size: 1.5em;
                    margin-top: -58px;
                }
                @media (max-width:$md) {
                    font-size: 1.4em;
                }
            }
            p{
                padding-top: 50px;
                max-width: 600px;
                @media (max-width:$lg) {
                    width: 450px;
                }
                @media (max-width:$md) {
                    max-width: 330px;
                    padding-top: 30px;
                }   
            }
        }

        .slider-destination{
            margin-left: 120px;
            @media (max-width:$xl) {
                margin-left: 30px;
            }
            @media (max-width:$lg) {
                // display: none;
                margin-left: 30px;
            }
            @media (max-width:$md) {
                margin-left: -190px;
            }
        }
    }

}