.destinations{
    height: 700px;
    background-color: #f7f7f7;
    // background-color: white;
    z-index: 0;
    padding: 120px 0px 200px 10%;

    .wrapper{
        display: flex;

        .text-destination{
            padding-top: 4%;
            h2{
                font-size: 89px;
                color: #66656510;
            }
            h3{
                font-size: 33px;
                margin-top: -67px;
                color: #575756de;
            }
            p{
                padding-top: 40px;
                max-width: 600px;
            }
        }

        .slider-destination{
            margin-left: 120px;
        }
    }

}