.destinations{
    height: 700px;
    background-color: $input-bg-c;
    z-index: 0;
    padding: 120px 0px 200px 10%;
    @media (max-width:$xl) {
        padding: 90px 0px 0px 4%;
    }
    @media (max-width:$lg) {
        padding: 90px 0px 0px 4%;
    }
    @media (max-width:$md) {
        height:550px;
    }
    @media (max-width:$sm) {
        height:770px;
        padding: 40px 0px 0px 4%;
    }
    .wrapper{
        display: flex;
        @media (max-width:$sm) {
            flex-direction: column;
        }
        
        .text-destination{
            padding-top: 4%;
            @media (max-width:$xl) {
                padding-top: 0;
                padding-right: 10%;
            }
            @media (max-width:$lg) {
                padding-top: 2%;
                padding-right: 10%;
            }
            @media (max-width:$md) {
                padding-top: 0%;
            }
            @media (max-width:$sm) {
                padding: 0;
            }
            h2{
                color: #66656510;
                font-size: 6em;
                @media (max-width:$lg) {
                    width: 450px;
                    font-size: 5em;
                }
                @media (max-width:$md) {
                    font-size: 4.5em;
                }
                @media (max-width:$sm) {
                    font-size: 4.9em;
                    text-align: center;
                    margin-left: 30px;
                }
            }
            h3{
                font-size: 2em;
                margin-top: -67px;
                color: $label-txt-c;
                @media (max-width:$xl) {
                    font-size: 1.6em;
                    margin-top: -58px;
                }
                @media (max-width:$lg) {
                    font-size: 1.5em;
                    margin-top: -58px;
                }
                @media (max-width:$md) {
                    font-size: 1.4em;
                }
                @media (max-width:$sm) {
                    font-size: 1.7em;
                    text-align: center;
                }
            }
            p{
                padding-top: 50px;
                max-width: 600px;
                @media (max-width:$lg) {
                    width: 450px;
                }
                @media (max-width:$md) {
                    max-width: 330px;
                    padding-top: 30px;
                } 
                @media (max-width:$sm) {
                    font-size: 1em;
                    text-align: center;
                    padding: 20px 0 30px 0;
                    margin: 0 auto;
                    max-width: 450px;
                }  
            }
            .button{
                @media (max-width:$sm) {
                    display: none;
                }
            }
        }

        .slider-destination{
            margin-left: 120px;
            @media (max-width:$xl) {
                margin-left: 30px;
            }
            @media (max-width:$lg) {
                // display: none;
                margin-left: 30px;
            }
            @media (max-width:$md) {
                margin-left: -190px;
            }
            @media (max-width:$sm) {
                margin-left: -15px;
            }
        }
    }

}