.summer-tours{
    height: 100vh;
    width: 100%;
    background-color: #7cc9c2;
    h2{
        color: white;
        font-size: 38px;
        font-weight: 500;
        padding: 50px;
        text-align: center;
        letter-spacing: 2px;
    }

    .toures{
        position: absolute;
        width: 100%;
        height: 250px;
        .toure{
            display: flex;
            height: 50%;
            width: 47%;
            min-width: 600px;
            padding: 0px 10px;
            background-color: white;
            margin-top: 2%;
            margin-left: 12%;//here over
            border-radius: 8px;
            position: relative;
            z-index: 30;
            transition: 0.7s;
            &:hover{
                width: 52%;
                padding: 0px 50px;
                border-radius: 50px;
                .price{
                    border-left: 10px dotted #56565741;
                    a{
                        visibility: visible;
                    }
                }
            }

            img{
                height: 120px;
                width: 140px;
                padding: 20px 30px;
            }
            .text-wrapper{
                margin-top: 30px;
                padding-left: 5px;
                color: #565657;
                h3{
                    font-size: 23px;
                    padding-bottom: 9px;
                }
                p{
                    font-size: 15px;
                }
            }
            .price{
                padding: 20px 50px;
                margin-left: 100px;
                text-align: center;
                color: #f7b74f;
                font-weight: 700;
                font-size: 25px;
                border-left: 10px dotted #56565741;
                letter-spacing: 1px;
                a{
                    visibility: hidden;
                    display: inline-block;
                    margin-top: 10px;
                    padding: 2px 17px;
                    border-radius: 5px;
                    color: white;
                    background-color: #87c5ec;
                    font-weight: 600;
                }
            }
        }
    }
    .imgSummer{
        position: absolute;
        width: 900px;
        top: 0px;
        right: 0px;
        z-index: 10;
    }
}